<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>stock</title>
</head>
<body>
<div class="container">
    <fieldset>
    <form action="/" method="post">

     <div><br>
        Symbol <input type="text"  class="ghost-input" required>

    </div><br>
    
    <div><br>
        date from: <input type="date" name="fromDate"  class="ghost-input" required >

    

    <!-- </div><br>
        Date to: <input type="date" name="toDate" class="ghost-input" required> -->
        

        <div><br><button type="submit" value="submit" class="search_button" >search</button>
    
        </form>

    <div><br>
        </fieldset> 
    </div>
    </div>
    
</body>
<script src="app.js"></script>
</html>