<!DOCTYPE html>

<html>

<head>
    <title>indian stock</title>
    
    {{!-- <link rel="stylesheet" href="/css/styles.css"> --}}
</head>

<body>
    <div class="main-content">
    

        <p>Use this site to get your stock!</p>

        <form action="/" method="post">
            <input placeholder="date">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>

    {{!-- {{>footer}} --}}

    <script src="/app.js"></script>
</body>

</html>